<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th><%= "Вес" if @order.products.first.by_weight %></th>
        <th>Примечание</th>
        <th>Рисунок</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order.products.first.title %></td>
        <td><%= @order.products.first.price %></td>
        <td>
          <div class="field">
            <%= f.number_field :count, size: 4 %>
          </div>
        </td>
        <td>
          <% if @order.products.first.by_weight %>
            <div class="field">
              <%= f.number_field :weight, size: 6 %>
            </div>
          <% end %>
        </td>
        <td>
          <div class="field">
            <%= f.text_area :note, rows: 4 %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= image_tag(@order.image_url) if @order.image_url %>
            <%= f.file_field :image_url %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit %>
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= button_to 'Delete', order_path(@order.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "button_to"  %>
